.item {
  padding: 0 5px;
  font-family: "Lemon Tuesday", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.items {
  display: flex;
}
.input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input:checked ~ .checkmark:after {
  opacity: 1;
}
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  border: 2px solid black;
  transition: 0.25s ease;
  border-radius: 5px;
}
.checkmark:after {
  content: "";
  position: absolute;
  left: 30%;
  width: 5px;
  height: 15px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button_edit {
  border: none;
  background-color: transparent;
}
.cross {
  font-size: 40px;
}
.texts {
  padding: 0 0 0 40px;
  max-width: 500px;
  width: 100%;
  overflow-x: scroll;
}
.texts::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.editor {
  width: 450px;
  padding: 0 5px;
  font-family: "Lemon Tuesday", sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  border: 2px black solid;
  background-color: transparent;
}
@media (max-width: 600px) {
  .texts {
    width: 450px;
  }
  .editor {
    width: 400px;
  }
}
@media (max-width: 550px) {
  .texts {
    width: 400px;
  }
  .editor {
    width: 350px;
  }
}
@media (max-width: 490px) {
  .texts {
    width: 350px;
  }
  .editor {
    width: 300px;
  }
}
@media (max-width: 440px) {
  .texts {
    width: 300px;
  }
  .editor {
    width: 250px;
  }
}
@media (max-width: 390px) {
  .texts {
    width: 250px;
  }
  .editor {
    width: 200px;
  }
}
